@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Have Heart One';
    src: url('/assets/fonts/have-heart-one.ttf') format('truetype');
}

@font-face {
    font-family: 'Have Heart Two';
    src: url('/assets/fonts/have-heart-two.ttf') format('truetype');
}
